// Add the colors you need

$white:             #f9f9f9;
$blue:              #135B76;
$black:             #242424;
$gray:              #939393;
$gray-btn-border:   lighten($gray, 10%);
$light-gray:        #eee;
$light-gray-border: lighten($gray, 30%);
$red:               #b30000;