$image-caption-font-size: 12px;

.image {
  margin-bottom: rhythm(2); 

  img {
    display: block;
  }
}

  .image__caption {
    background-color: $light-gray;
    overflow: hidden;

    @include adjust-font-size-to($image-caption-font-size, 2);
  }

    .image__caption__content {
      padding: 0 rhythm(1, $image-caption-font-size);
    }